<header class="navbar-light navbar-sticky header-static pt-4 pb-5">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand funnel-display-regular" href="index.html" style="border:1px solid #fff; border-radius:10px;padding: 10px 30px;">
        <!-- <i class="fa-regular fa-lightbulb " style="color:#FFD43A"></i>  -->
        OG5.Tips
				<!-- <img class="navbar-brand-item light-mode-item" src="assets/images/logo.svg" alt="logo"> -->
				<!-- <img class="navbar-brand-item dark-mode-item" src="assets/images/logo-light.svg" alt="logo"> -->
			</a>
			<!-- Logo END -->

			<!-- Nav right START -->
			<div class="nav ms-sm-3 flex-nowrap align-items-center">
				<!-- Nav Button -->
				<div class="nav-item d-none d-md-block">
					<a href="#" class="btn btn-sm btn-dark mb-0 mx-2">Subscribe</a>
				</div>
			</div>
			<!-- Nav right END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>

<main>
<!-- =======================
Main hero START -->
<section class=" funnel-display-regular">
	<div class="container">
    <div class="row g-4 align-items-center justify-content-between pb-5">
      <div class="col-lg-6 mt-0 position-relative">
        <!-- Hero image -->
        <!-- <img class="rounded" src="images/12.jpg" alt="" style="width:100%"> -->
        <img class="rounded" src="<%= random_main_image %>" alt="" style="width:100%">
        <!-- Hero info -->

      </div>
      <div class="col-lg-5">
        <!-- Hero title -->
        <p><span class="badge bg-primary me-1">NEW</span> New episodes out now.</p>
        <!-- <h1 class="display-3">The Podcast With Bryan Knight</h1> -->
        <h1 class="display-3">The Obstetrics & Gynaecology Exam Prep Podcast.</h1>

        <!-- <p>Interviews with top thinkers, founders, and artists since 2012.</p> -->
        <p>Designed for medical students. Unlock expert insights and practical guidance to excel in your exams.</p>
        <a href="#" class="btn btn-dark"> <i class="fa-solid fa-podcast"></i> Start listening</a>
        <p>
          <!-- <a href="#">Learn More</a> -->
        </p>
        <!-- Listen on -->
        <!-- <ul class="list-unstyled d-flex gap-1 gap-sm-2 align-items-center mt-4">
          <li class="h5 mb-0">Listen on:</li>
          <li class="ms-2"><a href="#"> <img src="assets/images/icon/apple-podcasts.svg" alt=""> </a></li>
          <li class="ms-2"><a href="#"> <img src="assets/images/icon/divider-icon.svg" alt=""> </a></li>
          <li class="ms-2"><a href="#"> <img src="assets/images/icon/spotify.svg" alt=""> </a></li>
          <li class="ms-2"><a href="#"> <img src="assets/images/icon/google-podcasts.svg" alt=""> </a></li>
          <li class="ms-2"><a href="#"> <img src="assets/images/icon/pocket.svg" alt=""> </a></li>
          <li class="ms-2"><a href="#"> <img src="assets/images/icon/sound-cloud.svg" alt=""> </a></li>
        </ul> -->
      </div>
  	</div>
	</div>
</section>
<!-- =======================
Main hero END -->


<!-- Mastering Menstrual Disorders for the Boards
OB Emergencies: Rapid Fire Review
Reproductive Endocrinology Essentials
Pharmacology Focus: Key Drugs in OBGYN
Fetal Monitoring: Decoding the Basics and Beyond -->

<!-- =======================
Recent Episodes START -->
<section class="pt-5 funnel-display-regular">
	<div class="container">
    <div class="row">
      <div class="col-lg-8">
        <!-- Title -->
        <h2 class="mb-4">Recent Episodes</h2>
        <!-- Episodes Item START -->
        <div class="card border rounded-3 p-3 mb-4">
					<div class="row g-4">
            <!-- Image -->
						<div class="col-md-4">
              <div class="position-relative">
                <img class="rounded-3" src="images/12-2.webp" alt="Card image" style="width:200px">
              </div>
            </div>
						<div class="col-md-8">
              <div class="d-flex justify-content-between mb-2">
                <!-- Episode -->
							  <p class="badge badge-light text-dark mb-2">Episode 1</p>
                <span><i class="fa-solid fa-clock"></i> 5min</span>
              </div>
							<!-- Title -->
							<h4 class="card-title">
                <h3>Reproductive Endocrinology Essentials</h3>
							</h4>
							<!-- Author info -->
							<div class="d-flex align-items-center position-relative">
								<div class="avatar avatar-xs me-2">
									<img class="avatar-img  rounded-circle" src="images/img-000.webp" alt="avatar" style="width:100%">
								</div>
									<h6 class="mb-0">Dr Justina Obatani</h6>
							</div>
              <!-- Play Episode -->
              <div class="d-xl-flex align-items-center justify-content-between mt-4">
                <a class="btn btn-sm btn-dark" href="podcast-single.html"><i class="fa-solid fa-play"></i> Play Episode</a>
              </div>
						</div>
					</div>
				</div>

        <div class="card border rounded-3 p-3 mb-4">
          <div class="row g-4">
            <!-- Image -->
            <div class="col-md-4">
              <div class="position-relative">
                <img class="rounded-3" src="images/12-2.webp" alt="Card image" style="width:200px">
              </div>
            </div>
            <div class="col-md-8">
              <div class="d-flex justify-content-between mb-2">
                <!-- Episode -->
                <p class="badge badge-light text-dark mb-2">Episode 2</p>
                <span><i class="fa-solid fa-clock"></i> 5min</span>
              </div>
              <!-- Title -->
              <h4 class="card-title">
                <h3>Pharmacology Focus: Key Drugs in OBGYN</h3>
              </h4>
              <!-- Author info -->
              <div class="d-flex align-items-center position-relative">
                <div class="avatar avatar-xs me-2">
                  <img class="avatar-img  rounded-circle" src="images/img-000.webp" alt="avatar" style="width:100%">
                </div>
                  <h6 class="mb-0">Dr Justina Obatani</h6>
              </div>
              <!-- Play Episode -->
              <div class="d-xl-flex align-items-center justify-content-between mt-4">
                <a class="btn btn-sm btn-dark" href="podcast-single.html"><i class="fa-solid fa-play"></i> Play Episode</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card border rounded-3 p-3 mb-4">
          <div class="row g-4">
            <!-- Image -->
            <div class="col-md-4">
              <div class="position-relative">
                <img class="rounded-3" src="images/12-2.webp" alt="Card image" style="width:200px">
              </div>
            </div>
            <div class="col-md-8">
              <div class="d-flex justify-content-between mb-2">
                <!-- Episode -->
                <p class="badge badge-light text-dark mb-2">Episode 3</p>
                <span><i class="fa-solid fa-clock"></i> 5min</span>
              </div>
              <!-- Title -->
              <h4 class="card-title">
                <h3>Fetal Monitoring: Decoding the Basics and Beyond</h3>
              </h4>
              <!-- Author info -->
              <div class="d-flex align-items-center position-relative">
                <div class="avatar avatar-xs me-2">
                  <img class="avatar-img  rounded-circle" src="images/img-000.webp" alt="avatar" style="width:100%">
                </div>
                  <h6 class="mb-0">Dr Justina Obatani</h6>
              </div>
              <!-- Play Episode -->
              <div class="d-xl-flex align-items-center justify-content-between mt-4">
                <a class="btn btn-sm btn-dark" href="podcast-single.html"><i class="fa-solid fa-play"></i> Play Episode</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Episodes Item END -->

        <!-- Episodes Item START -->

        <!-- Episodes Item END -->

        <!-- Episodes Item START -->

      </div>
      <!-- Episodes Item END -->

      <!-- Sidebar START -->
      <div class="col-lg-4">
        <!-- Card START -->
        <div class="card card-overlay-bottom h-400" style="background-image:url(images/11.jpg); background-position: center left; background-size: cover;height: 400px">
					<!-- Card featured -->
					<span class="card-featured text-white" title="Featured post"><i class="fas fa-star"></i></span>
					<!-- Card Image overlay -->
					<div class="card-img-overlay d-flex flex-column p-3 p-sm-5">
						<!-- Card play button -->
						<div class="position-absolute top-50 start-50 translate-middle pb-5">
							<!-- Popup video -->
							<a href="https://youtu.be/n_Cn8eFo7u8" class="icon-lg bg-primary d-block text-white rounded-circle" data-glightbox="" data-gallery="y-video">
								<i class="bi bi-play-btn"></i>
							</a>
						</div>
						<!-- Card overlay Bottom  -->
						<div class="w-100 mt-auto">
							<div class="col text-center">
								<!-- Card title -->
								<h3 class="text-white">Never underestimate the influence of social media</h3>
							</div>
						</div>


					</div>

				</div>
        <!-- Card END -->

        <div class="text-center mt-4 mb-5">
          <br>
          <p>
            <a href="#" class="btn btn-dark"><i class="fa-solid fa-unlock"></i> Unlock all episodes</a>
          </p>
          <p>From $22/month.</p>
        </div>

        <!-- Trending podcast START -->
        <div class="mt-4">
          <h5 class="mb-3">Trending podcast</h5>
          <!-- Recent post item -->
          <div class="card mb-3 p-3">
            <div class="d-flex">
              <div>
                <!-- Popup podcast -->
                <a href="podcast-single.html" class="icon-md border border-primary d-block text-primary rounded-circle">
                  <!-- <i class="bi bi-play-fill fs-3"></i> -->
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="ms-3">
                <!-- Info -->
                <h6>The pros and cons of business agency</h6>
                <div class="small mt-1">May 17, 2022</div>
              </div>
            </div>
          </div>
          <div class="card mb-3 p-3">
            <div class="d-flex">
              <div>
                <!-- Popup podcast -->
                <a href="podcast-single.html" class="icon-md border border-primary d-block text-primary rounded-circle">
                  <!-- <i class="bi bi-play-fill fs-3"></i> -->
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="ms-3">
                <!-- Info -->
                <h6>The pros and cons of business agency</h6>
                <div class="small mt-1">May 17, 2022</div>
              </div>
            </div>
          </div>
          <div class="card mb-3 p-3">
            <div class="d-flex">
              <div>
                <!-- Popup podcast -->
                <a href="podcast-single.html" class="icon-md border border-primary d-block text-primary rounded-circle">
                  <!-- <i class="bi bi-play-fill fs-3"></i> -->
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="ms-3">
                <!-- Info -->
                <h6>The pros and cons of business agency</h6>
                <div class="small mt-1">May 17, 2022</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Trending podcast END -->
      </div>
      <!-- Sidebar END -->
    </div>
	</div>
</section>
<!-- =======================
Featured video END -->

<div class="">
  <br>
  <br>
</div>

<!-- =======================
Featured shows START -->
<section class="bg-dark">
	<div class="container">
		<div class="row g-4">
			<div class="col-md-4 white-text text-white white funnel-display-regular">
        <br>
        <h3>OG5.Tips</h3>
        <br>
        <p>Dr Justina Obatani, MD is an experienced OBGYN physician and dedicated medical educator specializing in exam preparation for aspiring obstetricians and gynecologists.</p>
        <br>
        <p>©2024 <a href="#" class="text-reset btn-link" target="_blank">OG5.Tips</a>. All rights reserved</p>
        <br>
			</div>
      <!-- Card small START -->
    </div>
  </div>
</section>
<!-- =======================
Featured shows END -->
</main>
